fastapi
uvicorn
sqlalchemy[asyncio]
aiosqlite
chromadb
sentence-transformers
httpx
python-dotenv
werkzeug
PyPDF2
jinja2
starlette
jinja_partials
fastapi-websocket-pubsub
markdown
python-multipart
sentence-transformers
itsdangerous
crewai
crewai-tools